.new-expense {
    background-color: #E1ECC8;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 0px solid #557A46;
    background-color: #557A46;
    color: #fff;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #48673b;
    border-color: #48673b;
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ddb3f8;
  }

  .FormOpen {
    animation: openForm 0.4s ease-out forwards;
  }

  .FormClosed {
    animation: closedForm 1s ease-out forwards;
  }

  @keyframes openForm {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes closedForm {
    from {
      opacity: 1;
    }
    to{
      opacity: 0;
    }
}